{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<a href="{{@blog.url}}/about" id="blog-link"><span class="icon bg-blue-light">&#xe609;</span><span class="label bg-blue-light">PROFILE</span></a>
    {{!-- Profile --}}
        <section id="profile" class="section">
            <div class="section-info clearfix">
                <div class="user pull-left" itemscope itemtype="http://data-vocabulary.org/Person">
                    <a href="/" itemprop="url" class="profile-pic inline-block small">
                        <img src="{{@blog.logo}}" alt="{{@blog.title}}">
                    </a>
                    <h1 class="inline-block"><span itemprop="name" id="name">Luis Matute</span> <span class="blue">Web Dev</span></h1>
                </div>
            </div>
        </section>

<main class="content" role="main" itemscope itemtype="http://schema.org/Blog">
    {{user}}
    <article class="{{post_class}}" itemscope itemtype="http://schema.org/BlogPosting">

        {{! Everything inside the #post tags pulls data from the post }}
        {{#post}}

            {{!-- Post Header --}}
                <header class="active post-header">
                    <div class="show">
                        <span class="icon no-hover bg-blue-light">&#xe60b;</span>
                        <div class="divider"></div>
                        <span class="section-name post-name inline-block"><time itemprop="dateCreated" datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMM.DD"}}</time></span>

                        <p class="inline-block header-item author">
                            <i class="icon inline-block header-icon">&#xe609;</i>
                            <a href="/about" class="inline-block" itemprop="author">Luis Matute</a>
                        </p>

                        <p class="inline-block header-item tags">
                            <i class="inline-block icon">&#xe640;</i>
                            {{#each tags}}
                                <a href="/tag/{{slug}}" class="inline-block">{{name}}</a>
                            {{/each}}
                        </p>
                    </div>
                </header>

            <h1 class="post-title">{{{title}}}</h1>

            <section class="post-content" itemprop="articleBody">
                {{#if image}}
                    <img src="{{image}}" alt="{{title}}">
                {{/if}}
                {{content}}
            </section>

            <footer class="post-footer">

                <section class="share">
                    <h4>Share this post</h4>
                    <a class="icon-twitter" href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"
                        onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"></a>
                    <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                        onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"></a>
                    <a class="icon-google-plus" href="https://plus.google.com/share?url={{url absolute="true"}}"
                       onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;"></a>
                </section>

            </footer>

        {{/post}}
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            var disqus_shortname = 'lm-blog';
            var disqus_identifier = '{{post.id}}';
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </article>

</main>
