{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

 <a href="{{@blog.url}}/about" id="blog-link"><span class="icon bg-blue-light">&#xe609;</span><span class="label bg-blue-light">PROFILE</span></a>
{{!-- Profile --}}
    <section id="profile" class="section">
        <div class="section-info clearfix">
            <div class="user pull-left" itemscope itemtype="http://data-vocabulary.org/Person">
                <a href="/about" itemprop="url" class="profile-pic inline-block small">
                    <img src="{{@blog.logo}}" alt="Luis Matute">
                </a>
                <h1 class="inline-block"><span itemprop="name" id="name">Luis Matute</span> <span class="blue">Web Dev</span></h1>
            </div>
        </div>
    </section>

{{! The main content area on the homepage }}
<main class="content" role="main">

        <header class="tag-archive-header">
            <h1>{{tag.name}}</h1>
        </header>

    {{! Each post will be output using this markup }}
    {{#foreach posts}}

    <article class="{{post_class}} clearfix post" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
        {{!-- Post Header --}}
            <header class="active post-header">
                <div class="show">
                    <span class="icon no-hover bg-blue-light">&#xe60b;</span>
                    <div class="divider"></div>
                    <span class="section-name post-name inline-block"><time itemprop="startDate" datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMM.DD"}}</time></span>

                    <p class="inline-block header-item author">
                        <i class="icon inline-block header-icon">&#xe609;</i>
                        <a href="/about" class="inline-block">{{author.name}}</a>
                    </p>

                    <p class="inline-block header-item tags">
                        <i class="inline-block icon">&#xe640;</i>
                        {{#each tags}}
                            <a href="/tag/{{slug}}" class="inline-block">{{name}}</a>
                        {{/each}}
                    </p>
                </div>
            </header>

        {{!-- Post Title --}}
            <dt class="title">
                <a href="{{url}}">{{{title}}}</a>
            </dt>

        {{!-- Post Body --}}
            <dd class="summary">
                <p>{{excerpt words="100"}}&hellip;</p>
            </dd>
            <dd class="readMore">
                <a href="{{url}}">Read More</a>
            </dd>
    </article>

    {{/foreach}}

    {{!! After all the posts, we have the previous/next pagination links }}
    {{pagination}}

</main>